* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #0b0210;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(11, 2, 16, 1) 50%,
    rgba(64, 22, 87, 1) 89%,
    rgba(0, 0, 0, 0.817) 100%
  );
  font-family: "Poppins", sans-serif;
}
/* nav bar*/
.nav {
  z-index: 999;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  background-color: #fff;
  padding: 15px 20px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.8);
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 10px 15px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.nav-text {
  font-size: 20px;
  margin: auto;
  text-align: center;
  font-weight: 500;
  display: none;
  transition: all 0.3s ease;
}

.fa-solid {
  display: inline;
  font-size: 32px;
  transition: color 0.3s;
}

/* */

.nav-item.active {
  flex-grow: 3;
  border-radius: 30px;
  background: #eee;
  justify-content: flex-start;
}

.nav-item.active > .nav-text {
  display: inline-block;
}

.nav-item.active > .fa-solid.fa-house {
  color: #5a35b5;
}

.fa-solid.fa-house ~ .nav-text {
  color: #5a35b5;
}

.nav-item.active > .fa-solid.fa-map {
  color: #c9329a;
}
.fa-solid.fa-map ~ .nav-text {
  color: #c9329a;
}

.nav-item.active > .fa-solid.fa-message {
  color: #e5a023;
}

.fa-solid.fa-message ~ .nav-text {
  color: #e5a023;
}
/* h1 title for all pages */
.tittle {
  text-align: center;
}
.tittle h1 {
  color: darkorange;
  font-size: 2.8rem;
  padding: 10px;
  font-family: serif;
  letter-spacing: 1px;
  font-weight: 600;
}
/* h2 tittle for all pages*/
.tittle h2 {
  color: rgb(212, 211, 210);
  font-size: 1.2rem;
}
/*welcome paragraf home page */
.welcome {
  text-align: center;
  padding: 10px;
}

p {
  font-size: 0.8rem;
  color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
video {
  width: 100%;
  height: 500px;
}

/* div home page*/
.shutters,
.keys,
.direction,.tram {
  display: flex;
  text-align: center;
  padding: 25px 50px;
  color: #eee;
}
.shutters .fa-calendar {
  font-size: 2.4rem;
  color: #5a35b5;
}
.keys .fa-key ,.fa-train-subway {
  font-size: 2.4rem;
  color: #5a35b5;
}
.direction .fa-person-walking-luggage {
  font-size: 2.4rem;
  color: #5a35b5;
}

.section1 h3 {
  padding: 10px;
}
.section1 a {
  font-size: 1.4rem;
}
img{
  width: 100%;
}


.fa-calendar {
  -webkit-animation: bounce-top 3.2s ease-out infinite alternate-reverse both;
  animation: bounce-top 3.2s ease-out infinite alternate-reverse both;
}
.fa-key ,.fa-train-subway{
  -webkit-animation: bounce-top 3.8s ease-out infinite alternate-reverse both;
  animation: bounce-top 3.8s ease-out infinite alternate-reverse both;
}
.fa-person-walking-luggage {
  -webkit-animation: bounce-top 3.6s ease-out infinite alternate-reverse both;
  animation: bounce-top 3.6s ease-out infinite alternate-reverse both;
}
.fa-whatsapp {
  -webkit-animation: bounce-top 1.6s ease-out infinite alternate-reverse both;
  animation: bounce-top 1.6s ease-out infinite alternate-reverse both;
}
/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
/* secrion 2 test*/
.section2 h3 {
  color: #8f8d8dc8;
  padding: 5px;
  font-size: 1rem;
}
.section2 a {
  font-size: 0.9rem;
}
.test,
.test1,
.test2,
.test3,
.test4 {
  text-align: center;
  width: 100%;
  margin: 10px;
}
.section2 a {
  padding: 5px;
}
.section2 i {
  padding: 5px;
  color: #c9329989;
}
/*div button book*/

.test a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}

.test a i {
  font-size: 1rem;
}
.test1 a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}
.test1 a i {
  font-size: 1rem;
}
.test2 a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}
.test2 a i {
  font-size: 1rem;
}
.test3 a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}
.test3 a i {
  font-size: 1rem;
}
.test4 a {
  text-decoration: none;
  display: block;
  color: #eee;
  text-align: left;
}
.test4 a i {
  font-size: 1rem;
}
.test {
  -webkit-animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.test1 {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.test2 {
  -webkit-animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.test3 {
  -webkit-animation: slide-in-left 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.test4 {
  -webkit-animation: slide-in-left 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 1.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*section3*/

/*buttone whatsapp book*/
.section3 h3 {
  color: #eee;
}

.btn .fa-whatsapp {
  font-size: 2.9rem;
  color: #008000;
  padding: 10px 10px 20px;
}
.button-book {
  text-align: center;
}

@media all and (max-width: 324px) {
  .tittle h1 {
    font-size: 2.2rem;
    padding: 4px;
    letter-spacing: 1px;
  }
  /* h2 tittle for all pages*/
  .tittle h2 {
    font-size: 1rem;
  }
  /*welcome paragraf home page */
  .welcome p {
    padding-bottom: 0;
    font-size: 0.7rem;
  }
  /* div home page*/
  .shutters,
  .keys,
  .direction {
    padding: 15px 30px;
    height: 90px;
  }
  .shutters .fa-calendar {
    font-size: 2rem;
    padding: 5px;
  }
  .keys .fa-key {
    font-size: 2rem;
    padding: 5px;
  }
  .direction .fa-person-walking-luggage {
    font-size: 2rem;
    padding: 5px;
  }

  .section1 h3 {
    padding: 5px;
    font-size: 1.2rem;
  }

  /* secrion 2 test*/
  .section2 h3 {
    padding: 2px;
    font-size: 0.8rem;
  }
  .section2 a {
    font-size: 0.7rem;
  }
  .test,
  .test1,
  .test2,
  .test3,
  .test4 {
    width: 100%;
    margin: 2px;
    height: 80px;
  }
  .section2 a {
    padding: 5px;
  }
  .section2 i {
    padding: 5px;
  }
  video {
    width: 100%;
    height: 400px;
  }
}

@media all and (max-width: 377px) {
  /* h1 title for all pages */
.tittle {
  text-align: center;
  padding-bottom: 0px;
}
  .tittle h1 {
    font-size: 2.4rem;
    letter-spacing: 1px;
  }
  /* h2 tittle for all pages*/
  .tittle h2 {
    font-size: 1.2rem;
  }
  /*welcome paragraf home page */
  .welcome p {
    padding: 15px;
    font-size: 0.8rem;
  }
  /* div home page*/
  .shutters,
  .keys,
  .direction,.tram {
    padding: 20px 35px;
    height: 95px;
  }
  .shutters .fa-calendar {
    font-size: 2.2rem;
    padding: 10px;
  }
  .keys .fa-key {
    font-size: 2.2rem;
    padding: 10px;
  }
  .direction .fa-person-walking-luggage {
    font-size: 2.2rem;
    padding: 10px;
  }
  .tram .fa-train-subway {
    font-size: 2.2rem;
    padding: 10px;
  }

  .section1 h3 {
    padding: 18px;
    font-size: 1.2rem;
  }

  /* secrion 2 test*/
  .section2 h3 {
    padding: 4px;
    font-size: 0.9rem;
  }
  .section2 a {
    font-size: 0.9rem;
  }
  .test,
  .test1,
  .test2,
  .test3,
  .test4 {
    width: 100%;
    margin: 5px;
    height: 100px;
  }
  .section2 a {
    padding: 5px;
  }
  .section2 i {
    padding: 8px;
  }
  video {
    width: 100%;
    height: 460px;
  }
}

@media all and (min-width: 402px) {
  /* h2 tittle for all pages*/
  .tittle h2 {
    font-size: 1.2rem;
  }
  /*welcome paragraf home page */
  .welcome p {
    padding: 15px;
    font-size: 0.9rem;
  }
  /* div home page*/
  .shutters,
  .keys,
  .direction,.tram {
    padding: 20px 30px;
    height: 100px;
  }
  section .btn-outline-warning {
    margin: auto;
  }
  .shutters .fa-calendar {
    font-size: 2.2rem;
    padding: 10px;
    margin: auto;
  }
  .keys .fa-key {
    font-size: 2.2rem;
    padding: 10px;
    margin: auto;
  }
  .tram .fa-train-subway {
    font-size: 2.2rem;
    padding: 10px;
    margin: auto;
  }
  .direction .fa-person-walking-luggage {
    font-size: 2.2rem;
    padding: 10px;
    margin: auto;
  }

  .section1 h3 {
    padding: 10px;
    font-size: 1.2rem;
    margin: auto;
  }
}
